 .u-section-1 {
  background-image: url("/images/image7.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 19px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 679px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 130px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 8px 0 0 688px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px 8px 0 688px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  background-image: none;
  margin: 36px 60px 0 auto;
  padding: 9px 3px 11px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 488px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 488px;
    margin-right: 45px;
  }

  .u-section-1 .u-btn-1 {
    transition-duration: 0.5s;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -45px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 108px;
    margin-right: 0;
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 165px;
    margin-right: 5px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 53px 730px 0 0;
}

.u-section-2 .u-link-1 {
  text-transform: uppercase;
  padding-bottom: 2px;
  letter-spacing: 1px;
  border-style: solid;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
  height: auto;
  margin: 69px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 734px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 262px;
  object-position: 50% 63.61%;
  height: 262px;
  margin: 73px auto 0 37px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -202px 35px 0 299px;
}

.u-section-2 .u-btn-1 {
  margin: 73px 86px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 262px;
  object-position: 50% 63.61%;
  height: 262px;
  margin: 73px auto 0 37px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -202px 35px 0 299px;
}

.u-section-2 .u-btn-2 {
  margin: 73px 86px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 262px;
  object-position: 50% 63.61%;
  height: 262px;
  margin: 73px auto 0 37px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -202px 35px 0 299px;
}

.u-section-2 .u-btn-3 {
  margin: 73px 86px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 262px;
  object-position: 50% 63.61%;
  height: 262px;
  margin: 73px auto 0 37px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -202px 35px 0 299px;
}

.u-section-2 .u-btn-4 {
  margin: 73px 86px 0 auto;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 530px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 310px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 172px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 108px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 663px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 19px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 543px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-align: left;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 83px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2.025;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 543px;
  pointer-events: auto;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  min-height: 478px;
  height: auto;
  background-image: url("/images/gad1f8b557ade7c62387904a98dc10b60db85bfc8846639d2fb5973909f5df78d016ee8a00dd6e78ce65d4e32ebd6239f_1280.jpg");
  width: 510px;
  background-position: 50% 50%;
  margin: 3px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-3 .u-image-1 {
    min-height: 338px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 227px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 468px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 70px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 23px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 250px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-4 .u-icon-1 {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-4 .u-icon-2 {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-4 .u-icon-3 {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 98px;
    margin-right: 98px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 21px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 4px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 684px;
}

.u-section-5 .u-text-1 {
  width: 843px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 319px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-image-1 {
  width: 274px;
  height: 197px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-image-2 {
  width: 274px;
  height: 197px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  letter-spacing: normal;
  text-transform: none;
  margin: 24px auto 0;
}

.u-section-5 .u-text-4 {
  width: 843px;
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-list-1 {
    grid-template-rows: repeat(3, auto);
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 824px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 3px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 704px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-6 .u-accordion-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 256px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  line-height: 1.6;
  margin: 0;
}

.u-section-6 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  line-height: 1.6;
  margin: 0;
}

.u-section-6 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0;
}

.u-section-6 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1148px;
}

.u-section-7 .u-shape-1 {
  height: 417px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(white, black);
}

.u-section-7 .u-group-1 {
  width: 1140px;
  min-height: 162px;
  height: auto;
  margin: -369px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -111px 50px 0;
}

.u-section-7 .u-gallery-1 {
  height: 796px;
  width: 938px;
  grid-gap: 17px 17px;
  margin: 60px auto 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-1 {
  width: 1138px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
}

.u-section-7 .u-back-image-2 {
  width: 1138px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 25px;
}

.u-section-7 .u-back-image-3 {
  width: 1138px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-4 {
  width: 1138px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-5 {
  width: 1138px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-6 {
  width: 1138px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-7 {
  width: 1138px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-8 {
  width: 1138px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-right: 25px;
}

.u-section-7 .u-back-image-9 {
  width: 1138px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-2 {
  margin: 21px 151px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 147px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 25px 25px;
  }

  .u-section-7 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-7 .u-over-slide-9 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -795px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
    margin-top: 1031px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -4028px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-top: 4204px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -2232px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    margin-top: 2471px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 371px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 338px;
  min-width: 146px;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-8 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-8 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-8 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

.u-section-8 .u-icon-6 {
  height: 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 56px auto 0;
  padding: 10px 149px 10px 147px;
}

.u-section-8 .u-btn-2 {
  margin: 30px auto 60px;
  padding: 10px 195px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding: 9px 51px 11px 50px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 99px;
    padding-left: 97px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 914px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 776px;
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 29px 0 0;
}

.u-section-9 .u-list-1 {
  margin: 45px 0 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 425px;
  grid-gap: 0px;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-9 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-9 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-9 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-9 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-9 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-9 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 776px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-9 .u-text-9 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-form-1 {
  height: 466px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-9 .u-input-1 {
  height: 55px;
}

.u-section-9 .u-input-2 {
  height: 55px;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-block-0b33-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-0b33-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0b33-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-0b33-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-0b33-62:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 640px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 136px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px;
}

.u-section-10 .u-map-1 {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-10 .u-map-1,
.u-section-10 .u-map-1:before,
.u-section-10 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-10 .u-map-1.u-map-1.u-map-1:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-10 .u-map-1 {
  border-color: transparent !important;
}

.u-section-10 .u-map-1.u-map-1.u-map-1.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-10 .u-map-1 {
  border-color: transparent !important;
}

.u-section-10 .u-container-layout:hover .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-10 .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}